@model ZooApplication.Models.ViewModels.UpdateAnimal

@{
    ViewBag.Title = "Create";
}

<h2>Create Animal</h2>
<form action="/Animal/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="AnimalName" id="AnimalName" data-val="true" data-val-required="Please Enter a Name." />

        @Html.ValidationMessageFor(model => model.SelectedAnimal.AnimalName, "", new { @class = "text-danger", data_valmsg_for = "AnimalName" })
    </div>
    <div>
        <label>Weight (kg):</label> <input type="number" name="AnimalWeight" data-val="true" data-val-required="Please Enter a Weight." />
        @Html.ValidationMessageFor(model => model.SelectedAnimal.AnimalWeight, "", new { @class = "text-danger", data_valmsg_for = "AnimalWeight" })
    </div>
    <div>
        <label>Bio:</label> <textarea name="AnimalBio"></textarea>
    </div>
    <div>
        <label>Species:</label>
        <select name="SpeciesID">
            @foreach (var species in Model.SpeciesOptions)
            {
                <option value="@species.SpeciesID">@species.SpeciesName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Animal" />

    </div>
</form>


